/* Your custom styles */
.btn-primary,
.bg-primary {
  background: linear-gradient(45deg, black, blueviolet);
}
.btn-secondary,
.bg-secondary {
  background: linear-gradient(45deg, black, purple);
}
.btn-success,
.bg-success {
  background: linear-gradient(45deg, black, limegreen);
}
.btn-info,
.bg-info {
  background: linear-gradient(45deg, black, lightblue);
}
.btn-warning,
.bg-warning {
  background: linear-gradient(45deg, black, orange);
}
.btn-danger,
.bg-danger {
  background: linear-gradient(45deg, black, red);
}
.btn-light,
.bg-light {
  background: linear-gradient(45deg, darkgray, gray);
}
.btn-dark,
.bg-dark {
  background: linear-gradient(45deg, black, darkslategray);
}
.table tbody tr td {
  font-weight: bold;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
}
.ant-form-item {
  margin-bottom: 5px !important;
}
.anchor {
  color: white;
  text-decoration: none;
}

.ag-row .ag-cell {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}
.ag-body-horizontal-scroll-viewport {
  overflow-x: hidden !important;
}
.ag-horizontal-right-spacer {
  overflow-x: hidden !important;
  border-left: none !important;
}
.ant-form-item-label {
  text-align: left !important;
}
h1 {
  color: #1890ff !important;
}

.main-container {
  padding: 10px;
}
.sub-container {
  width: 75vw;
}

.footer {
  width: 100vw;
  margin-bottom: 10px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}

ul {
  list-style-type: none;
  /* margin: 0;
  padding: 0; */
}

/* Card */
.card {
  margin: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
}
.card-body {
  padding: 1rem;
}
